# Ignore local database and attack exports
backend/attacks/*.json
backend/attacks/*.db
public_showcase/
benchmark_asr/
# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variables (Just in case!)
.env
.env.example
